<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V65PG4DBXS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V65PG4DBXS');
  </script>
  <meta charset="UTF-8">
  <title>Study Portal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <!-- Topbar -->
  <div class="topbar">
    <div class="button-group">
      <button onclick="window.location.href='/'">Notes</button>
    </div>

    <div class="logo">
        <a href="/">
          <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" height="95" width="90">
        </a>
    </div>

    <div class="button-group">
      <button onclick="window.location.href='/gpa_calculator'">GPA Calculator</button>
      <button onclick="window.location.href='/gpa_predictor'">GPA Predictor</button>
    </div>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; height: 80vh; text-align: center;">
    <h1>Coming soon!</h1>
  </div>
</body>
</html>
